/* 1. Extra small devices (phones, less than 576px) */
@media screen and (max-width: 575.98px) {
  /* CSS for mobile phones */

  /* header */
  .menu .nav-links li {
    display: none;
  }
  .menu .nav-links .cart {
    display: inline-block;
  }

  nav .logo img {
    width: 100%;
  }

  /* hero-section */
  .hero-section {
    margin-top: 28px;
  }
  .hero-section .hero-text-content {
    padding-left: 5px;
    padding-right: 5px;
  }

  .hero-section-main {
    flex-direction: column-reverse;
    gap: 28px;
  }

  .hero-section .hero-title {
    font-size: 24px;
    line-height: 33px;
  }
  .hero-section .inter-commont-fonts {
    font-size: 14px;
    line-height: 17px;
  }

  /* .plants-section */
  .plants-section-main {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .plants-section-title {
    font-size: 22px;
    line-height: 33px;
  }

  .plants-section-subtitle {
    font-size: 14px;
    line-height: 17px;
    padding: 16px 0 28px 0;
  }

  .plants-section {
    padding-top: 65px;
    padding-bottom: 40px;
  }

  .plants-section .flower-title {
    font-size: 16px;
    margin: 10px 0 5px 0;
  }
  .plants-section .flower-price {
    font-size: 16px;
    margin-bottom: 10px;
  }

.plants-section-main .card button {
    width: 100%;
    font-size: 12px;
    padding: 10px 0px;
}

/* 2. Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  /* CSS for small devices */

  /* hero-section */
  .hero-section-main {
    flex-direction: column-reverse;
    gap: 28px;
  }
}

/* 3. Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  /* CSS for tablets */
}

/* 4. Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  /* CSS for small desktops */
}

/* 5. Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  /* CSS for large desktops */
}

/* 6. Ultra large devices (like 4K monitors, 1400px and up) */
@media screen and (min-width: 1400px) {
  /* CSS for ultra-wide screens */
}
