@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu ul li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 5px;
}

/* common css end */

/* sheard styles */
.display-flex {
  display: flex;
}

.text-primary-color {
  color: #e95a08;
}

.inter-commont-fonts {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
}

.noto-common-fonts {
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
}

.btn-primary {
  color: rgb(255, 255, 255);
  background-color: #e95a08;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  /* padding: 26px 50px; */
  padding: 16px 50px;
  border: none;
}

/* header*/
header {
  height: 82px;
  margin-top: 30px;
}
nav .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 20%;
}

nav .menu {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.menu .nav-links {
  gap: 48px;
  align-items: center;
}

.menu li,
li a {
  color: #8987a1;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.menu .nav-links .cart {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.menu .nav-links .cart i {
  font-size: 18px;
  height: 24px;
  width: 24px;
}

.menu .nav-links li a {
  transition: 0.4s;
}
.menu .nav-links li a:hover {
  color: #252432;
}

/* hero-section */

.hero-section {
  margin-top: 120px;
  padding-left: 0;
  padding-right: 0;
}

.hero-section .hero-title {
  font-size: 65px;
  line-height: 89px;
  margin-bottom: 13px;
}

.hero-section-main {
  align-items: end;
}
.hero-section-main img {
  width: 100%;
}

/* .plants-section */

.plants-section {
  padding-top: 130px;
  padding-bottom: 83px;
}

.plants-section-main {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.plants-section-main .card img {
  width: 100%;
}

.plants-section-title {
  text-align: center;
}

.plants-section-subtitle {
  max-width: 888px;
  margin: 0 auto;
  text-align: center;
  padding: 16px 0 49px 0;
}

.plants-section .flower-title {
  color: rgb(17, 17, 17);
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
  margin: 20px 0 10px 0;
}
.plants-section .flower-price {
  color: rgb(17, 17, 17);
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 20px;
}

.plants-section-main .card button {
  width: 100%;
}

/* plants-lover-section */
.plants-lover-section {
  padding-top: 130px;
  padding-bottom: 83px;
}
.plants-lover-section .plants-lover-section-main {
  gap: 60px;
  justify-content: space-between;
  align-items: center;
}

.plants-lover-section-main .trusted-seller {
  width: 50%;
  position: relative;
}
.plants-lover-section-main .plants-lover {
  width: 50%;
}
.plants-lover-section-main .trusted-seller .flower-store {
  width: 100%;
}

.plants-lover-section .plants-lover ul li {
  padding: 20px 0;
}
.trusted-seller .trusted-badge {
  position: absolute;
  top: -123px;
  right: -90px;
  width: 286px;
  height: 286px;
  animation: rotateBadge 10s linear infinite;
}

@keyframes rotateBadge {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
